{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
<div id="myModal_new" class="modal d-flex" style="height:93%;top:auto;">
    <div class="modal-content d-flex" id="modal-content-new" style="width:30vw;">
        <div class="col-12 justify-content-center" style="display: inline-grid;">
            <h3 style="justify-content: center;display: flex;">Cette page n'est pas fini.</h3></br>
            <img class="picture" src="{{ asset(path) }}" alt="logo" height="500px">
        </div>
    </div>
</div>
{% endblock %}
